@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
.btn {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 18px;
  background-color: #191919;
  margin-bottom: 10px;
}
.hide {
  display: none;
}
/* Right Side */
.rightside {
  position: relative;
  box-shadow: 0 1px 3px rgb(25 25 25 / 30%);
}
.rightside__container {
  color: #191919;
  font-size: 12px;
  line-height: 15.6px;
  text-align: center;
  padding: 25px 30px 16px;
}
.rightside__box {
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding-bottom: 26px;
}
.rightside__avatar {
  width: 100px;
  height: 100px;
  color: #191919;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}
.rightside__avatar img {
  border-radius: 50%;
}
.rightside__name {
  text-align: center;
  margin-bottom: 20px;
}
.rightside__name h1 {
  font-size: 25px;
  font-weight: 600;
}
.rightside__description {
  text-align: center;
  margin-bottom: 16px;
}
.rightside__description h1 {
  font-size: 20px;
  font-weight: 400;
}
.home {
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0057ff;
}
.home:hover {
  background-color: #003ecb;
}
.home a {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.home__icon {
  font-size: 16px;
  padding-right: 5px;
}

.contact__btn {
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0057ff;
  text-align: center;
}
.contact__btn:hover {
  background-color: #003ecb;
}
.contact__btn a {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.contact__icon {
  font-size: 16px;
  padding-right: 5px;
}
.rightside__des {
  margin: 20px;
}
.rightside__title {
  font-size: 16px;
}
.des__box {
  display: flex;
  padding-left: 15px;
  margin-top: 10px;
}

.des__des,
.des__title {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 5px;
}
.des__title-email,
.des__des-email {
  margin-bottom: 10px;
}
/* Left Side */
.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  padding: 50px 8%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.work__img {
  height: 150px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow: hidden;
}
.work__img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.work__img:hover video {
  transform: scale(1.1);
}
.gallery .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: none;
}
.gallery .popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
}
.gallery .popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  z-index: 100;
  cursor: pointer;
}
/* Media */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .gallery .popup-video video {
    width: 100%;
  }
  .wd {
    width: 98%;
  }
}
